.garden {
    position: relative;
    background: darkolivegreen;
    border: 15px dashed saddlebrown;
    border-radius: 5px;
    width: 1120px;
    height: 700px;
    user-select: none;
    margin: auto;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}